<html>

<head>
    <title>Settings</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    <style>
        select.hours, select.minutes {
                width: 40px;
            }
            select.playlist, select.startsong {
                width: 250px;
            }
        </style>
</head>

<body>
    <% for (var i = 0; i < 7; i++) { %>
    <div id="d<%= i %>">
        <fieldset>
            <legend class="day"></legend>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="enabled custom-control-input" id="e<%= i %>">
                    <label class="custom-control-label" for="e<%= i %>">Enabled</label>
                </div>
                <div class="form-group">
                    <label class="custom-control-label" for="h<%= i %>">Time: </label>
                    <select id="h<%= i %>" class="hours custom-select"></select>
                    <label class="custom-control-label" for="m<%= i %>"> : </label>
                    <select id="m<%= i %>" class="minutes custom-select"></select>
                </div>
                <div class="form-group">
                    <label class="custom-control-label" for="p<%= i %>">Playlist: </label>
                    <select id="p<%= i %>" class="playlist custom-select"></select>
                </div>
                <div class="form-group">
                    <label class="custom-control-label" for="s<%= i %>">Startsong: </label>
                    <select id="s<%= i %>" class="startsong custom-select"></select>
                </div>
                <button class="save btn" id="b<%= i %>">Save</button>
            </div>
        </fieldset>
    </div>
    <% } %>
    <button class="btn" id="reload">Reload</button>
    <p id="nextInvoc"></p>
</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/pannel.js"></script>