<html>

<head>
    <title>Settings</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    <link rel="stylesheet" href="/pannel.css">
</head>

<body>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <p id="devices"></p>
        </div>
        <% for (var i = 0; i < 7; i++) { %>
        <div class="col-auto" id="d<%= i %>">
            <fieldset>
                <legend class="day"></legend>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="enabled custom-control-input" id="e<%= i %>">
                        <label class="custom-control-label" for="e<%= i %>">Enabled</label>
                    </div>
                    <div class="form-group">
                        <label class="custom-control-label" for="h<%= i %>">Time</label> <br />
                        <select id="h<%= i %>" class="hours custom-select col-sm-4"></select>
                        <select id="m<%= i %>" class="minutes custom-select col-sm-4"></select>
                    </div>
                    <div class="form-group">
                        <label class="custom-control-label" for="p<%= i %>">Playlist</label><br />
                        <select id="p<%= i %>" class="playlist custom-select"></select>
                    </div>
                    <div class="form-group">
                        <label class="custom-control-label" for="s<%= i %>">Startsong</label><br />
                        <select id="s<%= i %>" class="startsong custom-select"></select>
                    </div>
                    <p class="next" id="n<%= i %>"></p>
                    <button class="save btn btn-primary" id="b<%= i %>">Save</button>
                </div>
            </fieldset>
        </div>
        <% } %>
    </div>
</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/pannel.js"></script>